$layout-width: 1920px;
$container-width: 1400px;
$header-yellow: #ffb800;
$button-yellow: #f17228;
$title-colors: #212121;
$location-color: #ffb30e;

$header-text-color: #424242;
$transparent-button-color: #757575;
$flex-gap: 16px;
$popular-items-count: 5;

$slider-button-bg: #FAAA01;
$slider-button-bg-disabled: #8a7a57;

// fonts
$source-font-pro: "Source Sans Pro", sans-serif;
$openSans-font: "Open Sans", sans-serif;
