@import "./variables";
@import "./mixins";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: $layout-width;
  font-family: $source-font-pro;
  margin: 0 auto;
  height: 2000px;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

section {
  padding: 40px 0;
  h2 {
    @include Title_default();
    color: $title-colors;
  }
}
